body {
    text-align: center;
    background: linear-gradiet (#5bd534 0%, #94f9f8 100%);
    background-repeat: no-repeat;
}

h1 {
    text-shadow: 2px 2px #F8BBD0;
    font-size: 20px;
}

#BIO {
    padding: 20px;
    font-size: 18px;
    text-align: center;
}

img {
    border-radius: 50%;
    width: 100px;
}
